body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.box h1{
    text-transform: uppercase;
    font-weight: 500;
}

.box input[type="text"], .box input[type="password"],.box input[type="email"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #ff416c;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
    color: #000 !important;
}

.box input[type="text"]:focus, .box input[type="password"]:focus,.box input[type="email"]:focus{
    width: 280px;
    border-color: #ff4b2b;
}

.box input[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #ff4b2b;
    padding: 14px 40px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.box input[type="submit"]:hover{
    background: #ff4b2b;
}

.box a{
    text-decoration: none;
    color: #3498db;
}

.box span {
    color: red;
}

h2{
    color: #fff;
}